.home {

 
  &__hero {
    position: relative;
    background: #1E1E1E;
    // padding: 0 40px 40px 40px;
    &__background {
      position: relative;
      width: 100%;
      height: 740px;
      // background: url("/assets/maybe-hero.jpg");
      // background-position: center;
      // background-size: cover;
      // background-repeat: no-repeat;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // clip-path: polygon(35% 40%, 79% 25%, 100% 53%, 100% 99%, 0 100%, 0% 40%);
      // border-radius: 24px;
      // border-radius: 400px;

    }

    &__inner {
      position: absolute;
        top: 87px;
        left: 0;
        padding-left: 40px;
        width: 100%;
        height: 40px;

        @media (max-width: $phone) {
          padding-left: 20px;
      }

      &__title {
        font-size: 60px;
        font-weight: 900;
        width: 100%;
        max-width: 15ch;
        color: #FFF;
        margin-bottom: 24px;
        text-transform: uppercase;
        font-family: var(--font-durkwide);
        line-height: 140%;

        @media (max-width: $tablet) {
          font-size: 32px;
      }
        // letter-spacing: 4px;
      }
      &__subtitle {
        // font-size: 80px;
        width: 100%;
        max-width: 50ch;
        line-height: 130%;
        font-weight: 300;
        
        color: #FFF;
      }
    }
  }
}
